<!DOCTYPE html>
<html>
<head>
  <title>VladTaskMaster</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <h1>my task lists</h1>

  <%= yield %>

  </div>
</body>
</html>
